meta(property="og:image", content='/images/learn/boxmodel/01.png')
meta(property="og:image", content='/images/learn/boxmodel/background.png')
meta(property="og:image", content='/images/learn/boxmodel/bg.png')
meta(property="og:image", content='/images/learn/boxmodel/border-radius.png')
meta(property="og:image", content='/images/learn/boxmodel/border.png')
meta(property="og:image", content='/images/learn/boxmodel/demo.png')
meta(property="og:image", content='/images/learn/boxmodel/margin.png')
meta(property="og:image", content='/images/learn/boxmodel/padding.png')
meta(property="og:image", content='/images/learn/boxmodel/shadow.png')
meta(property="og:image", content='/images/learn/boxmodel/fixed.jpg')
meta(property="og:image", content='/images/learn/boxmodel/img_margin_combine.gif')
meta(property="og:image", content='/images/learn/boxmodel/img_padding_combine.gif')
