extends ../../../_layout/layout

block variables
	- var title = 'Background'
	- var description = 'Box Model là một kỹ thuật cơ bản nhất trong CSS Layout và được sử dụng để bạn mô tả về khoảng cách mà mỗi phần tử trên website được sở hữu, hay nói cách khác là kỹ thuật tinh chỉnh khoảng cách hiển thị cho mỗi phần tử trên website.'
	- var bodyclass = 'box-model'
	- var selected = 'Front-End';
	- var href = '/docs/html-css/boxmodel/background';
block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)

block og
	include _seo

block body
	section.mt-5.demo-background
		.container-fluid
			.row
				.col
					h2 Background
					hr
					.row
						.col-md-6
							p
								figure
									img.img-thumbnail(src="/images/learn/boxmodel/background.png", alt="alt")
						.col-md-6
							p.lead Thuộc tính background được dùng để định dạng nền cho thành phần.
							ul
								li background-color: xác định màu cho nền.
								li background-image: xác định hình cho nền.
								li background-position: xác định vị trí cho nền, thường được sử dụng kèm với background-image.
								li background-repeat: xác định hình nền được lặp lại như thế nào.
								li background-attachment: xác định thành phần nền được cố định hoặc cuộn so với trang, được sử dụng kèm với background-image.
								li background: dạng tổng quát, kết hợp của các loại background trên.

					.row.mt-5
						.col-md-4
							h5 Background color
							.box.bg-success Box 1
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background-color: #5cb85c;
								}
						.col-md-4
							h5 Background gradient linear
							.box.bg-1 Box 2
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background: linear-gradient(90deg, #ff0000, #0000ff);
								}
						.col-md-4
							h5 Background gradient radial
							.box.bg-2 Box 3
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background: radial-gradient(ellipse at center, red 0%, yellow 100%);
								}
					.row.mt-5
						.col-md-4
							h5 Background image
							.box.bg-image
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background-image: url(demo.png);
								}
						.col-md-4
							h5 Background repeat X
							.box.bg-image-1
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background-image: url(demo.png);
									*background-repeat: repeat-x;
								}
						.col-md-4
							h5 Background repeat Y
							.box.bg-image-2
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background-image: url(demo.png);
									*background-repeat: repeat-y;
								}
					.row.mt-5
						.col-md-4
							h5 Background NO repeat
							.box.bg-image-3
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background-image: url(demo.png);
									*background-repeat: no-repeat;
								}
						.col-md-4
							h5 Background NO repeat + Position
							.box.bg-image-4
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background-image: url(demo.png);
									*background-repeat: no-repeat;
									*background-position: 100px 50px;
								}
						.col-md-4
							h5 Mixin
							.box.bg-image-5
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background-image: #ff0000 url(demo.png);
									*background-repeat: no-repeat;
									*background-position: 100px 50px;
								}
					.row.mt-5
						.col-md-4
							h5 Position center center (50% 50%)
							.box.bg-image-6
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background-image: url(demo.png);
									*background-repeat: no-repeat;
									*background-position: center center;
								}
						.col-md-4
							h5 Background Size Cover
							.box.bg-image-7
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background-image: url(demo.png);
									*background-repeat: no-repeat;
									*background-position: center center;
									*background-size: cover;
								}
						.col-md-4
							h5 Background Size Contain
							.box.bg-image-8
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background-image: url(demo.png);
									*background-repeat: no-repeat;
									*background-position: center center;
									*background-size: contain;
								}
					.row.mt-5
						.col-md-4
							h5 Background custom
							.box.bg-image-9
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background-image: url(demo.png);
									*background-position: center center;
									*background-size: 100% 50%;
								}
						.col-md-4
							h5 Background Multi-Options
							.box.bg-image-10
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*background: url(demo.png) top left no-repeat, url(bg.png) bottom right no-repeat;
									*background-size: 100px, auto;
									*background-color: #ff0000;
								}
						.col


			.row
				.col
					.m-4.text-center.btn-toolbar.justify-content-center
						.btn-group
							a.btn.btn-xs.btn-primary(href="/docs/html-css/boxmodel/index.html", title="title") Home
							a.btn.btn-xs.btn-primary(href="/docs/html-css/boxmodel/columns.html", title="title") Next
