extends ../../../_layout/layout

block variables
	- var title = 'Box Model'
	- var description = 'Box Model là một kỹ thuật cơ bản nhất trong CSS Layout và được sử dụng để bạn mô tả về khoảng cách mà mỗi phần tử trên website được sở hữu, hay nói cách khác là kỹ thuật tinh chỉnh khoảng cách hiển thị cho mỗi phần tử trên website.'
	- var bodyclass = 'box-model'
	- var selected = 'Front-End';
	- var href = '/docs/html-css/boxmodel/box';
block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)
block og
	include _seo


block body
	section.mt-5.demo-box
		.container-fluid
			.row
				.col
					h2 Padding
					hr
					p.lead Margin và Padding là hai thuộc tính khác nhau và chúng được ngăn cách nhau bởi một con sông và con sông này chính là border. Để hiểu rõ hơn thì bạn xem sơ đồ CSS Box sau:
					.row
						.col-md-6
							p
								figure
									img.img-thumbnail(src="/images/learn/boxmodel/padding.png", alt="alt")
						.col-md-6
							p Thuộc tính padding khi sử dụng sẽ thêm khoảng không gian bên trong thành phần, khoảng không gian này sẽ được cộng dồn thêm vào chiều rộng hoặc chiều cao của thành phần (tùy vào hướng sử dụng padding).
							p
								figure
									img.img-thumbnail(src="/images/learn/boxmodel/img_padding_combine.gif", alt="alt")
							ul
								li padding-top: thêm khoảng không gian bên trong hướng trên thành phần.
								li padding-right: thêm khoảng không gian bên trong hướng bên phải thành phần.
								li padding-bottom: thêm khoảng không gian bên trong hướng dưới thành phần.
								li padding-left: thêm khoảng không gian bên trong hướng bên trái thành phần.

					.row.mt-5
						.col-md-4
							h5 Default
							.box Box 1
						.col-md-4
							h5 Padding all
							.box.p-3.bg-primary.text-white Box 2
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*padding: 1rem;
								}
						.col-md-4
							h5 Padding custom
							.box.pt-1.pl-2.pr-3.pb-4.bg-primary.text-white Box 3
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*padding: .25rem 1rem 1.5rem .5rem;
								}
			.row.mt-5
				.col
					h2 Margin
					hr
					.row
						.col-md-6
							p
								figure
									img.img-thumbnail(src="/images/learn/boxmodel/margin.png", alt="alt")
						.col-md-6
							p Thuộc tính margin khi sử dụng sẽ thêm khoảng không gian bên ngoài thành phần, khoảng không gian này không cộng dồn thêm vào chiều rộng hoặc chiều cao của thành phần.
							p
								figure
									img.img-thumbnail(src="/images/learn/boxmodel/img_margin_combine.gif", alt="alt")
							ul
								li margin-top: thêm khoảng không gian bên ngoài phía trên thành phần.
								li margin-right: thêm khoảng không gian bên ngoài phía bên phải thành phần.
								li margin-bottom: thêm khoảng không gian bên ngoài phía dưới thành phần.
								li margin-left: thêm khoảng không gian bên ngoài phía bên trái thành phần.

					.row.mt-5
						.col-md-4
							h5 Default
							.box Box 1
						.col-md-4
							h5 Margin all
							.box.m-5.bg-primary.text-white Box 2
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*margin: 3rem 3rem;
								}
						.col-md-4
							h5 Margin custom
							.box.mt-5.mr-3.mb-4.bg-primary.text-white Box 3
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*margin: 3rem 1rem 1.5rem;
								}
			.row.mt-5
				.col
					h2 Border
					hr
					.row
						.col-md-6
							p
								figure
									img.img-thumbnail(src="/images/learn/boxmodel/border.png", alt="alt")
						.col-md-6
							p.lead Thuộc tính border được dùng để định dạng đường viền cho thành phần.
							ul
								li margin-top: thêm khoảng không gian bên ngoài phía trên thành phần.
								li margin-right: thêm khoảng không gian bên ngoài phía bên phải thành phần.
								li margin-bottom: thêm khoảng không gian bên ngoài phía dưới thành phần.
								li margin-left: thêm khoảng không gian bên ngoài phía bên trái thành phần.
					.row.mt-5
						.col-md-4
							h5 Border all: 1px solid
							.box.border Box 1
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*border-width: 1px;
									*border-color: #ff0000;
									*border-style: solid;
								}
						.col-md-4
							h5 Border custom
							.box.border-2 Box 2
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*border-top: 1px solid #ff0000;
									*border-right: 3px solid #0000ff;
								}
						.col-md-4
							h5 Border custom
							.box.border-3 Box 3
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*border: 1px dotted #ff0000;
									*border-right: 3px dashed #0000ff;
									*border-bottom: 4px double #0000ff;
									*border-left-width: 8px;
								}
			.row.mt-5
				.col
					h2 Border-radius
					hr
					.row
						.col-md-6
							p
								figure
									img.img-thumbnail(src="/images/learn/boxmodel/border-radius.png", alt="alt")
						.col-md-6
							p.lead Thuộc tính border-radius được dùng để tạo độ bo góc cho thành phần.
							ul
								li border-radius-top-left: thêm độ bo góc phía trên-trái thành phần.
								li border-radius-top-right: thêm độ bo góc phía bên trên-phải thành phần.
								li border-radius-bottom-right: thêm độ bo góc phía dưới-phải thành phần.
								li border-radius-bottom-left: thêm độ bo góc phía dưới-trái thành phần.

					.row.mt-5
						.col-md-4
							h5 Border-radius all: 10px
							.box.border-r Box 1
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*border: 1px solid #ff0000;
									*border-radius: 10px;
								}
						.col-md-4
							h5 Border-radius custom
							.box.border-r-2 Box 2
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*border: 1px solid #ff0000;
									*border-top-left-radius: 10px;
									*border-top-right-radius: 0;
									*border-bottom-right-radius: 30px;
									*border-bottom-left-radius: 5px;
								}
						.col-md-4
							h5 Border-radius custom
							.box.border-r-3 Box 3
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*border: 1px solid #ff0000;
									*border-radius: 50%;
									*width: 100px;
									*height: 100px;
								}
						.col-md-4
							h5 Border-radius custom
							.box.border-r-4 Box 4
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*border: 1px solid #ff0000;
									*border-radius: 25px;
									*width: 100%;
									*height: 50px;
								}
			.row.mt-5
				.col
					h2 Box Shadow
					hr
					.row
						.col-md-6
							p
								figure
									img.img-thumbnail(src="/images/learn/boxmodel/shadow.png", alt="alt")
						.col-md-6
							p.lead Thuộc tính box-shadow được dùng để tạo đổ bóng cho thành phần nào đó. có 5 giá trị ABCDE
							ul
								li A: kéo bóng về trái hay phải với giá trị dương bóng sẽ đổ về phía phải và ngược lại.
								li B: kéo bóng về trên hay dưới với giá trị dương bóng sẽ đổ về phía dưới và ngược lại.
								li C: độ làm mờ (blur) của bóng đổ
								li D: độ phóng đại (zoom) của bóng đổ
								li E: màu của bóng đổ


					.row.mt-5
						.col-md-4
							h5 Box Shadow:
							.box.box-shadow Box 1
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*box-shadow: 3px 7px 0px 0px #ff0000;
								}
						.col-md-4
							h5 Box Shadow custom
							.box.box-shadow-2 Box 2
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*box-shadow: 0px 0px 30px 0px #ff0000;
								}
						.col-md-4
							h5 Box Shadow custom
							.box.box-shadow-3 Box 3
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.
								.box {
									*box-shadow: 0px 0px 30px 10px #ff0000;
								}



			.row.mt-5
				.col
					.m-4.text-center.btn-toolbar.justify-content-center
						.btn-group
							a.btn.btn-xs.btn-primary(href="/docs/html-css/boxmodel/index.html", title="title") Home
							a.btn.btn-xs.btn-primary(href="/docs/html-css/boxmodel/background.html", title="title") Next
