extends ../../../_layout/layout

block variables
	- var title = 'Box Model'
	- var description = 'Box Model là một kỹ thuật cơ bản nhất trong CSS Layout và được sử dụng để bạn mô tả về khoảng cách mà mỗi phần tử trên website được sở hữu, hay nói cách khác là kỹ thuật tinh chỉnh khoảng cách hiển thị cho mỗi phần tử trên website.'
	- var bodyclass = 'box-model'
	- var selected = 'Box Model';
	- var href = '/docs/html-css/boxmodel/index';

block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)
block og
	include _seo


block body
	section.home
		.container-fluid

			.row
				.col.p-4
					h1.mt-6#sec1 Khái niệm
					hr
					p Box Model là một kỹ thuật cơ bản nhất trong CSS Layout và được sử dụng để bạn mô tả về khoảng cách mà mỗi phần tử trên website được sở hữu, hay nói cách khác là kỹ thuật tinh chỉnh khoảng cách hiển thị cho mỗi phần tử trên website.
					.row
						.col-md-6
							figure
								img.img-thumbnail(src="/images/learn/boxmodel/01.png", alt="")

					p
						a.btn.btn-xs.btn-primary(href="/docs/html-css/boxmodel/layout.html") Vấn đề
