extends ../../../_layout/layout

block variables
	- var title = 'Box Model'
	- var description = 'Box Model là một kỹ thuật cơ bản nhất trong CSS Layout và được sử dụng để bạn mô tả về khoảng cách mà mỗi phần tử trên website được sở hữu, hay nói cách khác là kỹ thuật tinh chỉnh khoảng cách hiển thị cho mỗi phần tử trên website.'
	- var bodyclass = 'box-model'
	- var selected = 'Front-End';
	- var href = '/docs/html-css/boxmodel/layout';
block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)
block og
	include _seo

block body
	section.mt-5.demo-layout
		.container-fluid
			.row
				.col-md-8.mb-3
					.demo
						.row.header
							.col Header
						.row.main
							.col.col-3.na Navigation
							.col.col-9.ctn Content
						.row.footer
							.col Footer


				.col-md-4
					.demo
						.row.header
							.col Header
						.row.main-2
							.col.ctn Content

			.row
				.col
					.m-4.text-center.btn-toolbar.justify-content-center
						.btn-group
							a.btn.btn-xs.btn-primary(href="/docs/html-css/boxmodel/index.html", title="title") Home
							a.btn.btn-xs.btn-primary(href="/docs/html-css/boxmodel/box.html", title="title") Next
