extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Hãy đam mê! Front-End chuyên nghiệp là cả một nghệ thuật. Mộc mạc nhưng tinh tế, cuồng nhiệt trong lặng lẽ! "Tôi từng nghĩ design & coding chỉ là sự đam mê để rồi một ngày tôi chợt nhận ra nó chính là cuộc đời này, tôi là ai mà yêu quá đời này!"'
	- var bodyclass = 'home'
	- var selected = 'Home';
	- var href = '/index';

block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)
block js
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMinJS(bodyclass)

block og
	meta(property="og:image", content='/images/fpt.png')
	include docs/html-css/boxmodel/_seo
	include docs/html-css/css/_seo
	include docs/html-css/html/_seo
	include docs/html-css/position/_seo
	include docs/design/ps/_seo

block body

	section.home
		.container
			.row.mt-4
				.col
					.jumbotron.text-center
						h1.hidden-md-up.display-4 Hãy đam mê!
						h1.hidden-sm-down.display-1 Hãy đam mê!
						h2.hidden-md-up Front-End chuyên nghiệp là cả một nghệ thuật. Mộc mạc nhưng tinh tế, cuồng nhiệt trong lặng lẽ!
						h2.hidden-sm-down.display-4 Front-End chuyên nghiệp là cả một nghệ thuật. Mộc mạc nhưng tinh tế, cuồng nhiệt trong lặng lẽ!
						p.lead "Tôi từng nghĩ design & coding chỉ là sự đam mê để rồi một ngày tôi chợt nhận ra nó chính là cuộc đời này, tôi là ai mà yêu quá đời này!"
						p
							a.btn.btn-primary(href="/docs/begin/ps") Ideas
							|
							a.btn.btn-primary(href="/files/frontend.pdf") Nộ dung
			.row.it
				.col
					h3 Các công nghệ được truyền tải!
					hr
					.row.mt-3
						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/browserify-2-hexagon-sticker.png", alt="")
								dd.col-9
									h6 browserify
									.text-muted Browserify lets you require('modules') in the browser by bundling up all of your ... Here

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/Rg6WLgqccB.svg", alt="")
								dd.col-9
									h6 npm
									.text-muted Package manager. Installs, publishes and manages node programs.

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/bDkmXyEmr5.png", alt="")
								dd.col-9
									h6 grunt
									.text-muted Automation, performing repetitive tasks like minification, compilation, unit testing and linting.

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/Ka0R3QvWRs.png", alt="")
								dd.col-9
									h6 bower
									.text-muted Bower manages all these things for you. Keeping track of all these packages ...

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/gulp-2x.png", alt="")
								dd.col-9
									h6 Gulp
									.text-muted Build system automating tasks: minification and copying of all JavaScript files, static images, capable of watching files to automatically rerun the task when a file ...

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/P3MQgWdDyG.png", alt="")
								dd.col-9
									h6 Yeoman
									.text-muted Through our official Generators, we promote the "Yeoman workflow".


						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/1452373124.png", alt="")
								dd.col-9
									h6 ionic
									.text-muted Ionic makes it incredibly easy to build beautiful and interactive mobile apps using HTML5 and AngularJS.

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/angular.png", alt="")
								dd.col-9
									h6 Angular
									.text-muted AngularJS is what HTML would have been, had it been designed for building web-apps. Declarative templates with data-binding, MVW, MVVM, MVC, ...

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/codova.png", alt="")
								dd.col-9
									h6 Codova
									.text-muted Cordova command-line runs on Node.js and is available on NPM


						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/bootstrap.png", alt="")
								dd.col-9
									h6 Bootstrap
									.text-muted Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/jade.png", alt="")
								dd.col-9
									h6 Jade-Pug
									.text-muted Jade is a terse language for writing HTML templates. Produces HTML; Supports dynamic code

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/javascript.png", alt="")
								dd.col-9
									h6 JavaScript
									.text-muted JavaScript is the programming language of HTML and the Web.


						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/sass.png", alt="")
								dd.col-9
									h6 Sass
									.text-muted Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/ps.png", alt="")
								dd.col-9
									h6 Photoshop
									.text-muted Create and enhance your photos, images, 3D artwork, and more with Adobe Photoshop CC, the world's best imaging and photo editing app

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/ai.png", alt="")
								dd.col-9
									h6 Illustrator
									.text-muted Create and enhance your photos, images, 3D artwork, and more with Adobe Photoshop CC, the world's best imaging and photo editing app


						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/android.png", alt="")
								dd.col-9
									h6 Android
									.text-muted Official site provides information for users, developers and partners. Includes press releases, videos, screenshots and downloads.

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/css.png", alt="")
								dd.col-9
									h6 CSS
									.text-muted CSS is a stylesheet language that describes the presentation of an HTML (or XML) document.

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/git.jpg", alt="")
								dd.col-9
									h6 git
									.text-muted Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.


						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/html.png", alt="")
								dd.col-9
									h6 HTML
									.text-muted HTML is a markup language for describing web documents (web pages).

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/ios.png", alt="")
								dd.col-9
									h6 iOS
									.text-muted All the things you love to do are more expressive, more dynamic, and more fun than ever with iOS.

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/jquery-icon.png", alt="")
								dd.col-9
									h6 jQuery
									.text-muted The Write Less, Do More, JavaScript Library.


						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/LYSQDzsBKK.png", alt="")
								dd.col-9
									h6 LESS
									.text-muted Less is a CSS pre-processor, meaning that it extends the CSS language

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/reactjsday-social.png", alt="")
								dd.col-9
									h6 react
									.text-muted Declarative. React makes it painless to create interactive UIs. Design simple views for each state in your application

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/ts.png", alt="")
								dd.col-9
									h6 TypeScript
									.text-muted TypeScript starts from the same syntax and semantics that millions of JavaScript developers

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/Stylus.png", alt="")
								dd.col-9
									h6 Stylus
									.text-muted Executable. Stylus ships with the stylus executable for converting ...

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/webpackLogo.png", alt="")
								dd.col-9
									h6 Webpack
									.text-muted Webpack is a module bundler. It packs CommonJs/AMD modules i. e. for the browser.

						.col-sm-6.col-md-4
							dl.row
								dt.col-3
									img(src="/images/icon/nodejs_logo.png", alt="")
								dd.col-9
									h6 NodeJS
									.text-muted Event-driven I/O server-side JavaScript environment based on V8. Includes API documentation, change-log, examples and announcements.
					.row.mb-5.text-center
						.col
							.text-lg ...
