extends ../../../_layout/layout

block variables
	- var title = 'Photo'
	- var description = 'aaaaaaaaaaaaaaa'
	- var bodyclass = 'photo'
	- var selected = 'Photo';
	- var href = '/docs/photo/canon/index';

block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)
block og
	include _seo

block body
	section.mt-5.demo-ps
		.container-fluid
			.row
				.col
					h2 Photo
					hr
					p.lead aaaaaaaaaaaaaaa
