extends ../../../_layout/layout

block variables
	- var title = 'Photo'
	- var description = 'aaaaaaaaaaaaaaa'
	- var bodyclass = 'photo'
	- var selected = 'Photo';
	- var href = '/docs/photo/canon/index';

block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)
block og
	include _seo

block body
	section.mt-5.demo-ps
		.container-fluid
			.row
				.col
					h2 Photo
					hr
					p.lead aaaaaaaaaaaaaaa
					a(href="/images/photo/huong-dan-su-dung-may-anh-dslr-6-1.jpg", target="_blank")
						figure
							img.img-thumbnail(src="/images/photo/huong-dan-su-dung-may-anh-dslr-6-1.jpg", alt="")
			h4.text-danger.mt-5 Các tính năng
			p Shooting Mode (Các chế độ chụp): Hầu hết các máy ảnh số đều có nút chọn chế độ chụp và thường có dạng xoay tròn lần lượt với các chức năng sau: 
			a(href="/images/photo/che-do-chup-thong-dung-cua-may-anh-so.jpg", target="_blank")
				figure
					img.img-thumbnail(src="/images/photo/che-do-chup-thong-dung-cua-may-anh-so.jpg", alt="")
			.row
				.col
					.table-responsive
						table.table.table.table-bordered.thead-inverse.table-striped
							thead
								tr
									th Chế độ
									th Chú thích
							tbody
								tr 
									td Auto
									td Chụp tự động hoàn toàn, tất cả các thông số đều do máy quyết định, các nút chức năng khác đều bị vô hiệu. Chế độ này thích hợp với người mới sử dụng, chưa nắm rõ các chức năng của máy. 
								tr 
									td M (Manual)
									td Điều chỉnh tay, người dùng có thể sử dụng tất cả các nút chức năng của máy để thiết lập các thông số như tốc độ chụp, độ mở của ống kính (khẩu độ), ánh sáng… Chế độ này thích hợp với những người chuyên nghiệp, biết cách tính toán các thông số để chụp được tấm ảnh như ý. Chế độ chụp chỉnh tay: cân bằng trắng, độ nhạy sáng ISO, mức đèn Flash, khẩu độ mở…
								tr 
									td P (Program)
									td Chương trình lập sẵn, máy sẽ tự tính toán và đưa ra các thông số đã được lập trình sẵn, chỉ có một số ít nút chức năng hoạt động để hỗ trợ thêm. Đây là chế độ bán tự động, thích hợp với người dùng muốn sử dụng chế độ tự động nhưng muốn thiết lập thêm vài thông số (ánh sáng, đèn Flash…) để phù hợp với điều kiện thực tế. 
								tr 
									td Tv (S)
									td Ưu tiên tốc độ, người dùng sẽ chọn tốc độ muốn chụp và máy sẽ tính toán thông số khẩu độ của ống kính để đạt được độ sáng cần thiết. Chế độ này thích hợp để chụp các cảnh có tốc độ cao (chụp đối tượng đang chuyển động…). Ưu tiên màn trập – có thể điều chỉnh được tốc độ màn trập.
 
								tr 
									td Av (A)
									td Ưu tiên khẩu độ, người dùng sẽ chọn khẩu độ muốn chụp và máy sẽ tính toán thông số tốc độ của ống kính để đạt được độ sáng cần thiết. Chế độ này thích hợp để nhấn mạnh đối tượng muốn chụp (chỉ có đối tượng chính rõ nét còn các đối tượng khác và hậu cảnh bị mờ…). Ưu tiên độ mở- có thể điều chỉnh được độ mở của ống kính (sử dụng trong môi trường thiếu sáng)
								tr 
									td Movie
									td Quay video, có thể sử dụng chế độ này để thư những đoạn phim bằng máy ảnh số, tùy theo máy mà thời gian cho phép thu khác nhau, có hoặc không có âm thanh. 
								tr 
									td Portrait (Hình cô gái)
									td Chụp chân dung, máy sẽ tính toán để làm nổi bật chân dung (hoặc đối tượng) muốn chụp. Chế độ này thích hợp chụp ảnh chân dung. 
								tr 
									td Landscape (Hình phong cảnh)
									td Phong cảnh, máy sẽ điều chỉnh độ nét vô cực để toàn bộ cảnh chụp sẽ có độ nét cao. Chế độ này dùng để chụp phong cảnh. 
								tr 
									td Night Scene (Hình ngôi sao)
									td Cảnh đêm, máy sẽ tính toán các thông số ánh sáng và tốc độ chụp để làm sáng đối tượng được chụp và hậu cảnh xung quanh. Chế độ này dùng để chụp lúc trời tối, ban đêm.
								tr 
									td Fast Shutter (Người chạy)
									td Chụp tốc độ nhanh, máy sẽ chụp với tốc độ cao và đồng thời tính toán các thông số để đảm bảo có đủ ánh sáng cho ảnh chụp. Chế độ này dùng để chụp các đối tượng đang di chuyển nhanh. 
								tr 
									td Slow Shutter
									td Chụp tốc độ chậm, máy sẽ chụp với tốc độ thấp và đồng thời tính toán các thông số để đảm bảo cho ảnh chụp không bị quá sáng. Chế độ dùng để chụp các đối tượng đang di chuyển và làm nhòe các đối tượng này để tạo cảm giác đối tượng đang di chuyển. 
								tr 
									td Stitch Assist (Panorama)
									td Chụp toàn cảnh, dùng chế độ này để chụp 2 hoặc nhiều cảnh liên tiếp kế nhau sau đó ráp nối lại thành một cảnh duy nhất rộng hơn mức cho phép của máy ảnh. 
								tr 
									td SCN (Special Scene)
									td Chọn chế độ này sau đó sử dụng các nút mũi trên trái hoặc phải để chọn tiếp các kiểu chụp được lập trình sẵn dành cho các cảnh đặc biệt: 

								tr 
									td Foliage
									td Chụp cây, hoa, lá… 
								tr 
									td Snow
									td Chụp giữa trời có tuyết. 
								tr 
									td Beach
									td Chụp ở bãi biển. 
								tr 
									td Fireworks
									td Chụp pháo hoa. 
								tr 
									td Underwater
									td Chụp dưới nước. 
								tr 
									td Indoor
									td Chụp trong nhà. 
								tr 
									td Kids & Pets
									td Chụp trẻ em và các con vật. 
								tr 
									td Night Snapshot
									td Chụp cảnh ban đêm. 
			h4.text-danger.mt-5 Các chế độ chụp khác (Drive Mode)

			.row
				.col
					.table-responsive
						table.table.table.table-bordered.thead-inverse.table-striped
							thead
								tr
									th Chế độ
									th Chú thích
							tbody
								tr 
									td Một hình chữ nhật Single Shooting
									td Chế độ chụp 1 ảnh, đây là chế độ chụp thông thường, mỗi khi nhấn nhút chụp chỉ có một ảnh được chụp. 
								tr 
									td Hình chữ nhật xếp chồng Continuous Shooting
									td Chế độ chụp nhiều ảnh liên tiếp, đây là chế độ chụp đặc biệt, khi nhấn nhút chụp máy sẽ chụp liên tiếp nhiều ảnh cho đến khi nào không nhấn nút chụp nữa mới ngưng. 
								tr 
									td Hình cái đồng hồ kim rõ dài Chụp hẹn giờ (Self-timer)
									td Chọn chế độ này để định thời gian cho máy tự chụp. 
								tr 
									td Hình bông hoa tulip Cận cảnh (Macro)
									td Chụp các đối tượng ở khoảng cách rất gần, khoảng từ 5cm đến 50cm 
								tr 
									td aaaaaaaaa
									td aaaaaaaaa
								tr 
									td aaaaaaaaa
									td aaaaaaaaa
								tr 
									td aaaaaaaaa
									td aaaaaaaaa
								tr 
									td aaaaaaaaa
									td aaaaaaaaa