extends ../../_layout/layout

block variables
	- var title = 'Box Model'
	- var description = 'Description for home page'
	- var bodyclass = 'box-model'
	- var selected = 'Box Model';
	- var href = '';
block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)


block body
	section.m-5.demo-background
		.container-fluid
			.row
				.col
					h2 Background
					hr
					p
						figure
							img.img-thumbnail(src="/images/learn/boxmodel/background.png", alt="alt")
					.row
						.col
							h5 Background color
							.box.bg-success Box 1
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background-color: #5cb85c;
								}
						.col
							h5 Background gradient linear
							.box.bg-1 Box 2
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background: linear-gradient(90deg, #ff0000, #0000ff);
								}
						.col
							h5 Background gradient radial
							.box.bg-2 Box 3
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background: radial-gradient(ellipse at center, red 0%, yellow 100%);
								}
					.row.mt-5
						.col
							h5 Background image
							.box.bg-image
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background-image: url(demo.png);
								}
						.col
							h5 Background repeat X
							.box.bg-image-1
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background-image: url(demo.png);
									*background-repeat: repeat-x;
								}
						.col
							h5 Background repeat Y
							.box.bg-image-2
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background-image: url(demo.png);
									*background-repeat: repeat-y;
								}
					.row.mt-5
						.col
							h5 Background NO repeat
							.box.bg-image-3
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background-image: url(demo.png);
									*background-repeat: no-repeat;
								}
						.col
							h5 Background NO repeat + Position
							.box.bg-image-4
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background-image: url(demo.png);
									*background-repeat: no-repeat;
									*background-position: 100px 50px;
								}
						.col
							h5 Mixin
							.box.bg-image-5
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background-image: #ff0000 url(demo.png);
									*background-repeat: no-repeat;
									*background-position: 100px 50px;
								}
					.row.mt-5
						.col
							h5 Position center center (50% 50%)
							.box.bg-image-6
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background-image: url(demo.png);
									*background-repeat: no-repeat;
									*background-position: center center;
								}
						.col
							h5 Background Size Cover
							.box.bg-image-7
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background-image: url(demo.png);
									*background-repeat: no-repeat;
									*background-position: center center;
									*background-size: cover;
								}
						.col
							h5 Background Size Contain
							.box.bg-image-8
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background-image: url(demo.png);
									*background-repeat: no-repeat;
									*background-position: center center;
									*background-size: contain;
								}
					.row.mt-5
						.col
							h5 Background custom
							.box.bg-image-9
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background-image: url(demo.png);
									*background-position: center center;
									*background-size: 100% 50%;
								}
						.col
							h5 Background Multi-Options
							.box.bg-image-10
							pre.mt-5.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box {
									*background: url(demo.png) top left no-repeat, url(bg.png) bottom right no-repeat;
									*background-size: 100px, auto;
									*background-color: #ff0000;
								}
						.col


			.row
				.col
					.m-4.text-center.btn-toolbar.justify-content-center
						.btn-group
							a.btn.btn-xs.btn-primary(href="/docs/boxmodel/index.html", title="title") Home
							a.btn.btn-xs.btn-primary(href="/docs/boxmodel/columns.html", title="title") Next
