extends ../../_layout/layout

block variables
	- var title = 'Box Model'
	- var description = 'Description for home page'
	- var bodyclass = 'box-model'
	- var selected = 'Box Model';
	- var href = '/docs/boxmodel/columns';
block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)


block body
	section.mt-3.demo-columns
		.container-fluid
			.row
				.col
					h2 Columns
					.box-father
						.box-child-1 30%
						.box-child-2 70%
					.row
						.col-sm-6
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box-1 {
									*width: 30%;
									*float: left;
								}
						.col-sm-6
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box-2 {
									*width: 70%;
									*float: left;
								}
			.row.mt-3
				.col
					h2 Columns + border
					p
						code Error
					.box-father
						.box-child-3 30%
						.box-child-4 70%
					.row
						.col-sm-6
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box-1 {
									*width: 30%;
									*float: left;
									*border: 4px solid yellow;
								}
						.col-sm-6
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box-2 {
									*width: 70%;
									*float: left;
									*border: 4px solid green;
								}
			.row.mt-3
				.col
					h2 Columns + padding
					p
						code Error
					.box-father
						.box-child-5 30%
						.box-child-6 70%
					.row
						.col-sm-6
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box-1 {
									*width: 30%;
									*float: left;
									*padding: 2rem;
								}
						.col-sm-6
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box-2 {
									*width: 70%;
									*float: left;
									*padding: 2rem;
								}
			.row.mt-3
				.col
					h2 Fixed
					p
						code.text-primary width: calc(70% - 8px - 4rem);
					.box-father
						.box-child-7 30%
						.box-child-8 70%
					.row
						.col-sm-6
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box-1 {
									*float: left;
									*border: 4px solid yellow;
									*padding: 2rem;
									*width: calc(30% - 8px - 4rem);
								}
						.col-sm-6
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box-2 {
									*float: left;
									*border: 4px solid green;
									*padding: 2rem;
									*width: calc(70% - 8px - 4rem);
								}
					p.mt-3
						code.text-primary box-sizing: border-box;
					.box-father
						.box-child-9 30%
						.box-child-10 70%
					.row
						.col-sm-6
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box-1 {
									*width: 30%;
									*float: left;
									*border: 4px solid yellow;
									*padding: 2rem;
									*box-sizing: border-box;
								}
						.col-sm-6
							pre.mt-3.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.box-2 {
									*width: 70%;
									*float: left;
									*border: 4px solid green;
									*padding: 2rem;
									*box-sizing: border-box;
								}

			.row
				.col
					.m-4.text-center.btn-toolbar.justify-content-center
						.btn-group
							a.btn.btn-xs.btn-primary(href="/docs/boxmodel/index.html", title="title") Home
