meta(property="og:image", content='/images/photo/canon/01.png')

//- http://www.mayanhjp.com/ImgUpload/2013/Canon-5D-Mark-III-phan-1.pdf
//- http://www.mayanhjp.com/Hotro.aspx
//- http://gdlp01.c-wss.com/gds/8/0300007348/01/eos5dmkiii-im-c-en.pdf