extends ../../../_layout/layout

block variables
	- var title = 'HTML'
	- var description = 'HTML là một ngôn ngữ đánh dấu siêu văn bản nên nó sẽ có vai trò xây dựng cấu trúc văn bản trên một website hay ứng dụng, hoặc khai báo các tập tin kỹ thuật số (media) như hình ảnh, video, nhạc.'
	- var bodyclass = 'html'
	- var selected = 'HTML';
	- var href = '/docs/html-css/html/layout';
block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)
block og
	include _seo


block body
	section.mt-5.demo-html
		.container-fluid
			.row
				.col
					h1.mt-6#sec1 HTML
					hr
			.row
				.col-md-6
					p.lead Bây giờ bạn hãy mở chương trình soạn thảo lên và gõ một đoạn nội dung đơn giản chỉ toàn chữ như thế này:
					pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.
						<div class="hello">
							*<h1>Ngó tên bỗng dưng thấy hoang mang.</h1>
							*<p><strong>Bài hát:</strong> Vợ người ta.</p>
							*<p><a href="#">Cay Cay Cay!</a>, Giờ em đã là vợ người ta Áo trắng cô dâu cầm hoa Nhạc tung tóe thanh niên hòa ca Vài ba đứa lên lắc lư theo Ấy là thành đám cưới em với người ta Anh biết do anh mà ra Tình yêu ấy nay xa càng xa Buồn thay la la lá.</p>
						</div>
				.col-md-6
					p.lead Sau đó hãy lưu lại tập tin này với tập tin index.html và mở lên bằng trình duyệt, kết quả sẽ như thế này:
					.democode
						.hello
							h1 Ngó tên bỗng dưng thấy hoang mang.
							p
								strong Bài hát:
								|  Vợ người ta.
							p
								a(href="#") Cay Cay Cay!
								| , Giờ em đã là vợ người ta Áo trắng cô dâu cầm hoa Nhạc tung tóe thanh niên hòa ca Vài ba đứa lên lắc lư theo Ấy là thành đám cưới em với người ta Anh biết do anh mà ra Tình yêu ấy nay xa càng xa Buồn thay la la lá.

			.row.mt-5
				.col-md-6.mb-2
					.demo
						.row
							.col
								.header
									pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.no-border.
										<div class="header-page">
											*<a href="#"><img src="/images/home_icon.png"></a>
										</div>
						.main
							.row.no-gutters
								.col.col-4
									.na
										pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.no-border.
											<div class="nav-page">
												*<ul>
													**<li>Menu 1</li>
													**<li>Menu 2</li>
													**<li>Menu 3</li>
												*</ul>
											</div>
								.col.col-8
									.ctn
										pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.no-border.
											<div class="main-page">
												*<h1>Ngó tên bỗng dưng thấy hoang mang.</h1>
												*<p><strong>Bài hát:</strong> Vợ người ta.</p>
												*<p><a href="#">Cay Cay Cay!</a>, Giờ em đã là vợ người ta Áo trắng cô dâu cầm hoa Nhạc tung tóe thanh niên hòa ca Vài ba đứa lên lắc lư theo Ấy là thành đám cưới em với người ta Anh biết do anh mà ra Tình yêu ấy nay xa càng xa Buồn thay la la lá.</p>
											</div>
						.row
							.col
								.footer
									pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.no-border.
										<div class="footer-page">
											*Copyright by Bao Nguyen
										</div>
				.col-md-6
					.demo
						.row
							.col
								.header
									.header-page
										a(href="#")
											img(src="/images/home_icon.png")
						.main
							.row.no-gutters
								.col.col-3
									.na
										.nav-page
											ul
												li Menu 1
												li Menu 2
												li Menu 3
								.col.col-9
									.ctn
										.main-page
											h1 Ngó tên bỗng dưng thấy hoang mang.
											p
												strong Bài hát:
												|  Vợ người ta.
											p
												a(href="#") Cay Cay Cay!
												| , Giờ em đã là vợ người ta Áo trắng cô dâu cầm hoa Nhạc tung tóe thanh niên hòa ca Vài ba đứa lên lắc lư theo Ấy là thành đám cưới em với người ta Anh biết do anh mà ra Tình yêu ấy nay xa càng xa Buồn thay la la lá.
						.row
							.col
								.footer
									.footer-page Copyright by Bao Nguyen


			.row
				.col
					.m-4.text-center.btn-toolbar.justify-content-center
						.btn-group
							a.btn.btn-xs.btn-primary(href="/docs/html-css/html/index.html", title="title") Home
							a.btn.btn-xs.btn-primary(href="/docs/html-css/html/code.html", title="title") Next
