meta(property="og:image", content='/images/learn/css/button-2.png')
meta(property="og:image", content='/images/learn/css/button.png')
meta(property="og:image", content='/images/learn/css/css-colours.svg')
meta(property="og:image", content='/images/learn/css/css-syntax-outline.png')
meta(property="og:image", content='/images/learn/css/css.gif')
meta(property="og:image", content='/images/learn/css/hexadecimal-syntax.png')
meta(property="og:image", content='/images/learn/css/photoshop-color-picker.png')
