extends ../../_layout/layout

block variables
	- var title = 'CSS'
	- var description = 'Description for home page'
	- var bodyclass = 'css'
	- var selected = 'CSS';
	- var href = '';

block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)

block body
	section.demo-css
		.container-fluid

			.row
				.col.p-4
					h1.mt-6#sec1 Bắt đầu
					hr

			.row
				.col-4
					figure
						img.img-thumbnail(src="/images/learn/css/css.gif", alt="")
					p Property: phải thuộc
					p Value: phải thuộc hoặc người coder phải gán
				.col
					h5.text-danger Selector
					hr
					.row
						.col
							h6.text-primary By ID
							pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.bg-white.
								<div id="demo">Text</div>
						.col
							h6.text-primary  By ID
							pre.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								#demo {
									*...
								}
					p
						a(href="https://jsfiddle.net/bo3rxfhb/", target="_blank") https://jsfiddle.net/bo3rxfhb/
					.row
						.col
							h6.text-primary By Class
							pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.bg-white.
								<div class="demo">
								*<p class="title title-xanh">Text</p>
								</div>
						.col
							h6.text-primary  By Class
							pre.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.demo .title.title-xanh {
									*...
								}
					p
						a(href="https://jsfiddle.net/bo3rxfhb/4/", target="_blank") https://jsfiddle.net/bo3rxfhb/4/
					p
						a(href="https://jsfiddle.net/bo3rxfhb/3/", target="_blank") https://jsfiddle.net/bo3rxfhb/3/
					.row
						.col
							h6.text-primary By Attributes
							pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.bg-white.
								<div class="demo-1">Text</div>
								<div class="demo-2">Text</div>
								<div class="demo">Text</div>
						.col
							h6.text-primary  By Attributes
							pre.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								div[class^="col-"] {
									*...
								}
					p
						a(href="https://jsfiddle.net/bo3rxfhb/1/", target="_blank") https://jsfiddle.net/bo3rxfhb/1/
					.row
						.col
							h6.text-primary By other
							pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.bg-white.
								<div class="lists">
									*<div class="item">Item 01</div>
									*<div class="item">Item 02</div>
								</div>
						.col
							h6.text-primary  By other
							pre.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.lists .item:last-child {
									*...
								}
					p
						a(href="https://jsfiddle.net/bo3rxfhb/7/", target="_blank") https://jsfiddle.net/bo3rxfhb/7/
					p
						a(href="https://jsfiddle.net/bo3rxfhb/8/", target="_blank") https://jsfiddle.net/bo3rxfhb/8/


			.row
				.col
					.m-4.text-center.btn-toolbar.justify-content-center
						.btn-group
							a.btn.btn-xs.btn-primary(href="/docs/css/index.html", title="title") Home
							a.btn.btn-xs.btn-primary(href="/docs/css/colors.html", title="title") Next

