meta(property="og:image", content='/images/mobile/ospazarpayi_ist.jpg')
meta(property="og:image", content='/images/mobile/ionic-lab.png')
meta(property="og:image", content='/images/mobile/node.png')
meta(property="og:image", content='/images/mobile/app.png')
