meta(property="og:image", content='/images/learn/html/01.png')
meta(property="og:image", content='/images/learn/html/02.png')
meta(property="og:image", content='/images/learn/html/03.png')
meta(property="og:image", content='/images/learn/html/04.png')
meta(property="og:image", content='/images/learn/html/05.png')
meta(property="og:image", content='/images/learn/html/06.png')
meta(property="og:image", content='/images/learn/html/07.png')
meta(property="og:image", content='/images/learn/html/html-syntax-outline.png')
meta(property="og:image", content='/images/learn/html/biz4x.png')
meta(property="og:image", content='/images/learn/html/html.png')
