extends ../../_layout/layout

block variables
	- var title = 'HTML'
	- var description = 'Description for home page'
	- var bodyclass = 'html'
	- var selected = 'HTML';
	- var href = '/docs/html/style';

block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)

block body
	section.demo-html
		.container-fluid

			.row
				.col.p-4
					h1.mt-6#sec1 Style & CSS Include
					hr
					p.lead.text-shadown.text-danger.text-bold Có nhiều cách định dạng lại văn bản
					p Tuy nhiên có 3 cách cơ bản là
					ul.mt-2
						li Viết trong từng elements với attribute "Style"
						li Viết trong thẻ [style]
						li Include "CSS"
					.row
						.col-md-4
							h3 Attribute Styles
							h5.text-primary index.html
							pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.bg-white.
								[!DOCTYPE html]
								[html]
								*[body style="background: red;"]
								*[/body]
								[/html]
							.alert.alert-danger Độ ưu tiên cao nhất, tuy nhiên không có tính kế thừa.
						.col-md-4
							h3 Style Tag
							h5.text-primary index.html
							pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.bg-white.
								[!DOCTYPE html]
								[html]
								*[head]
								**[style]
								***.mau-nen{
								****background: red;
								***}
								**[/style]
								*[/head]
								*[body class="mau-nen"]
								*[/body]
								[/html]
							.alert.alert-danger Độ ưu tiên cao thứ 2, có tính kế thừa.
						.col-md-4
							h3 Include CSS
							h5.text-primary index.html
							pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.bg-white.
								[!DOCTYPE html]
								[html]
								*[head]
								**<link rel="stylesheet" href="style.css">
								*[/head]
								*[body class="mau-nen"]
								*[/body]
								[/html]
							h5.text-primary style.css
							pre.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.
								.mau-nen{
									*background: red;
								}
							.alert.alert-danger Độ ưu tiên thấp, có tính kế thừa, dễ quản lý.
					p.mt-5.text-lg.text-primary.text-bold Cách viết CSS 1 lớp

					.row
						.col
							.table-responsive
								table.table.table-bordered.thead-inverse.table-striped
									thead
										tr
											th HTML
											th CSS
											th Hiển thị
									tbody
										tr
											td
												pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.bg-white.no-border.no-padding.
													[html]
													*[body]
													**[h1]Nội dung văn bản[/h1]
													**[div class="demo"]Nội dung văn bản[/div]
													**[p class="baonguyen"]Nội dung văn bản[/p]
													**[p class="demo"]Nội dung văn bản[/p]
													*[/body]
													[/html]
											td
												pre.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.no-border.no-padding.
													body {background: #5bc0def}
													h1 {color: #000}
													.demo {color: green}
													p.baonguyen {color: red}

											td
												.box.bg-info
													h1.den Nội dung văn bản
													.xanh Nội dung văn bản
													p.do.mb-0 Nội dung văn bản
													p.xanh.mb-0 Nội dung văn bản

					p.mt-5.text-lg.text-primary.text-bold Cách viết CSS n lớp

					.row
						.col
							.table-responsive
								table.table.table-bordered.thead-inverse.table-striped
									thead
										tr
											th HTML
											th CSS
											th Hiển thị
									tbody
										tr
											td
												pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.bg-white.no-border.no-padding.
													[html]
													*[body]
													**[h1]Nội dung văn bản[/h1]
													**[div class="demo"]Nội dung văn bản[/div]
													**[p class="baonguyen"]Nội dung văn bản[/p]
													**[p class="demo"]Nội dung văn bản[/p]
													*[/body]
													[/html]
											td
												pre.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.no-border.no-padding.
													body {background: #5bc0def}
													body h1 {color: #000}
													body .demo {color: green}
													body p.baonguyen {color: red}
													body p.demo {color: red}

											td
												.box.bg-info
													h1.den Nội dung văn bản
													.xanh Nội dung văn bản
													p.do.mb-0 Nội dung văn bản
													p.do.mb-0 Nội dung văn bản
										tr
											td
												pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.bg-white.no-border.no-padding.
													[html]
													*[body]
													**[h1 id="title"]Nội dung văn bản[/h1]
													**[div class="demo"]
													***[p class="baonguyen"]Nội dung văn bản[/p]
													***[p class="demo"]Nội dung văn bản[/p]
													**[/div]
													*[/body]
													[/html]
											td
												pre.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.no-border.no-padding.
													body {background: #5bc0def}
													#title {color: #000}
													.demo .baonguyen {color: xanh}
													.demo .demo {color: red}

											td
												.box.bg-info
													h1#title.den Nội dung văn bản
													div
														p.xanh.mb-0 Nội dung văn bản
														p.do.mb-0 Nội dung văn bản
										tr
											td
												pre.quine.prettyprint.text-left.lang-html.scrollbar-dynamic.wrapper.bg-white.no-border.no-padding.
													[html]
													*[body]
													**[h1 id="title" class="red"]Nội dung văn bản[/h1]
													**[p class="red underline"]Nội dung văn bản[/p]
													*[/body]
													[/html]
											td
												pre.quine.prettyprint.text-left.lang-css.scrollbar-dynamic.wrapper.bg-white.no-border.no-padding.
													.red {color: red}
													.underline {text-decoration: underline;}
													#title:hover {
														*color: vang;
														*text-decoration: underline;
														*text-transform: uppercase
													}

											td
												.box
													h1#title.do.ho Nội dung văn bản
													p.do.underline Nội dung văn bản


			.row
				.col
					.m-4.text-center.btn-toolbar.justify-content-center
						.btn-group
							a.btn.btn-xs.btn-primary(href="/docs/html/index.html", title="title") Home
