meta(property="og:image", content='/images/learn/new/css4.jpg')
meta(property="og:image", content='/images/learn/css/button-2.png')
meta(property="og:image", content='/images/learn/css/button.png')
meta(property="og:image", content='/images/learn/css/clearfix.png')
meta(property="og:image", content='/images/learn/css/css-before-after.png')
meta(property="og:image", content='/images/learn/css/css-syntax-outline.png')
meta(property="og:image", content='/images/learn/css/hexadecimal-syntax.png')
meta(property="og:image", content='/images/learn/css/photoshop-color-picker.png')
meta(property="og:image", content='/images/learn/css/css-colours.svg')
meta(property="og:image", content='/images/learn/css/compatible_chrome.gif')
meta(property="og:image", content='/images/learn/css/compatible_edge.gif')
meta(property="og:image", content='/images/learn/css/compatible_firefox.gif')
meta(property="og:image", content='/images/learn/css/compatible_opera.gif')
meta(property="og:image", content='/images/learn/css/compatible_safari.gif')
meta(property="og:image", content='/images/learn/css/css.gif')

