meta(property="og:image", content='/images/design/ps/01.png')
meta(property="og:image", content='/images/design/ps/2017-06-24_210248.png')
meta(property="og:image", content='/images/design/ps/2017-06-24_210530.png')
meta(property="og:image", content='/images/design/ps/2017-06-24_210608.png')
meta(property="og:image", content='/images/design/ps/2017-06-24_210659.png')
meta(property="og:image", content='/images/design/ps/2017-06-24_214248.png')
meta(property="og:image", content='/images/design/ps/2017-06-24_214340.png')
meta(property="og:image", content='/images/design/ps/2017-06-24_214517.png')
meta(property="og:image", content='/images/design/ps/2017-06-24_214633.png')
meta(property="og:image", content='/images/design/ps/2017-06-24_214751.png')
meta(property="og:image", content='/images/design/ps/2017-06-24_215108.png')
meta(property="og:image", content='/images/design/ps/ass.png')
meta(property="og:image", content='/images/design/ps/brush_color_crop.png')
meta(property="og:image", content='/images/design/ps/brush_control.png')
meta(property="og:image", content='/images/design/ps/brush_eraser.png')
meta(property="og:image", content='/images/design/ps/brush_intro-1.png')
meta(property="og:image", content='/images/design/ps/brush_intro.png')
meta(property="og:image", content='/images/design/ps/brush_opacity.png')
meta(property="og:image", content='/images/design/ps/brush_size_call.png')
meta(property="og:image", content='/images/design/ps/brush_tip.png')
meta(property="og:image", content='/images/design/ps/color.png')
meta(property="og:image", content='/images/design/ps/control_web.png')
meta(property="og:image", content='/images/design/ps/gau.png')
meta(property="og:image", content='/images/design/ps/glossario-de-design-grafico-18.png')
meta(property="og:image", content='/images/design/ps/histo_rbg_flat.png')
meta(property="og:image", content='/images/design/ps/hist_command.png')
meta(property="og:image", content='/images/design/ps/layer_web.png')
meta(property="og:image", content='/images/design/ps/ps.png')
meta(property="og:image", content='/images/design/ps/pscc-61348.png')
meta(property="og:image", content='/images/design/ps/pscc-61724.png')
meta(property="og:image", content='/images/design/ps/pscc-61734.png')
meta(property="og:image", content='/images/design/ps/pscc-61744.png')
meta(property="og:image", content='/images/design/ps/pscc-61752.png')
meta(property="og:image", content='/images/design/ps/pscc-61760.png')
meta(property="og:image", content='/images/design/ps/pscc-61768.png')
meta(property="og:image", content='/images/design/ps/pscc-61799.png')
meta(property="og:image", content='/images/design/ps/pscc-61807.png')
meta(property="og:image", content='/images/design/ps/pscc-61817.png')
meta(property="og:image", content='/images/design/ps/pscc-61827.png')
meta(property="og:image", content='/images/design/ps/pscc-61836.png')
meta(property="og:image", content='/images/design/ps/pscc-61848.png')
meta(property="og:image", content='/images/design/ps/pscc-61860.png')
meta(property="og:image", content='/images/design/ps/pscc-61868.png')
meta(property="og:image", content='/images/design/ps/pscc-61918.png')
meta(property="og:image", content='/images/design/ps/pscc-61926.png')
meta(property="og:image", content='/images/design/ps/pscc-61934.png')
meta(property="og:image", content='/images/design/ps/pscc-61945.png')
meta(property="og:image", content='/images/design/ps/pscc-61955.png')
meta(property="og:image", content='/images/design/ps/pscc-61965.png')
meta(property="og:image", content='/images/design/ps/PTS_029.png')
meta(property="og:image", content='/images/design/ps/start_open_file.png')
meta(property="og:image", content='/images/design/ps/start_panel_expand.png')
meta(property="og:image", content='/images/design/ps/start_panel_move.png')
meta(property="og:image", content='/images/design/ps/start_panel_on.png')
meta(property="og:image", content='/images/design/ps/start_panel_reset.png')
meta(property="og:image", content='/images/design/ps/start_pref_pixels.png')
meta(property="og:image", content='/images/design/ps/start_pref_text.png')
meta(property="og:image", content='/images/design/ps/start_pref_unit_grad.png')
meta(property="og:image", content='/images/design/ps/start_tool_alternate.png')
meta(property="og:image", content='/images/design/ps/text_character.png')
meta(property="og:image", content='/images/design/ps/text_color.png')
meta(property="og:image", content='/images/design/ps/text_tool.png')
meta(property="og:image", content='/images/design/ps/tool_move.png')
meta(property="og:image", content='/images/design/ps/01-1.jpg')
meta(property="og:image", content='/images/design/ps/03.jpg')
meta(property="og:image", content='/images/design/ps/background-805060_960_720.jpg')
meta(property="og:image", content='/images/design/ps/BACKGROUND_WE.jpg')
meta(property="og:image", content='/images/design/ps/clippingvslayermasks1.jpg')
meta(property="og:image", content='/images/design/ps/eraser_web.jpg')
meta(property="og:image", content='/images/design/ps/histo_clipping.jpg')
meta(property="og:image", content='/images/design/ps/histo_contrast.jpg')
meta(property="og:image", content='/images/design/ps/histo_high.jpg')
meta(property="og:image", content='/images/design/ps/histo_intro_flat.jpg')
meta(property="og:image", content='/images/design/ps/histo_low_butter_new.jpg')
meta(property="og:image", content='/images/design/ps/histo_under.jpg')
meta(property="og:image", content='/images/design/ps/img_3.jpg')
meta(property="og:image", content='/images/design/ps/img_31.jpg')
meta(property="og:image", content='/images/design/ps/img_9.jpg')
meta(property="og:image", content='/images/design/ps/layout-fail.jpg')
meta(property="og:image", content='/images/design/ps/masking101-1.jpg')
meta(property="og:image", content='/images/design/ps/masking101-14.jpg')
meta(property="og:image", content='/images/design/ps/original.jpg')
meta(property="og:image", content='/images/design/ps/phim-tat-trong-photoshop-1.jpg')
meta(property="og:image", content='/images/design/ps/photoshop_type_mask_01.jpg')
meta(property="og:image", content='/images/design/ps/select_web.jpg')
meta(property="og:image", content='/images/design/ps/squirrel.jpg')
meta(property="og:image", content='/images/design/ps/start_intro_flower.jpg')
meta(property="og:image", content='/images/design/ps/start_open_dialog.jpg')
meta(property="og:image", content='/images/design/ps/start_open_splat.jpg')
meta(property="og:image", content='/images/design/ps/start_tool_select_bucket.jpg')
meta(property="og:image", content='/images/design/ps/start_zoom_100_fit.jpg')
meta(property="og:image", content='/images/design/ps/start_zoom_fit.jpg')
meta(property="og:image", content='/images/design/ps/text_add.jpg')
meta(property="og:image", content='/images/design/ps/text_box.jpg')
meta(property="og:image", content='/images/design/ps/text_move.jpg')
meta(property="og:image", content='/images/design/ps/text_size.jpg')
meta(property="og:image", content='/images/design/ps/02.gif')
meta(property="og:image", content='/images/design/ps/features.gif')
meta(property="og:image", content='/images/design/ps/layer-expanded.gif')
meta(property="og:image", content='/images/design/ps/layer-together.gif')
meta(property="og:image", content='/images/design/ps/window.gif')
meta(property="og:image", content='/images/design/ps/phunu8-15-phu-nu-1uyen-ru-nhat-tg-15.jpeg')
//- http://rachel.golearn.us/modules/en-GCF2015/content/collections/photoshopbasics/photoshopbasics.html
//- https://www.agitraining.com/adobe/photoshop/tutorials/navigating-photoshop-workspace-tools-panels
