meta(property="og:image", content='/images/design/ps/01.png')
meta(property="og:image", content='/images/design/ps/02.gif')
meta(property="og:image", content='/images/design/ps/03.jpg')
//- http://rachel.golearn.us/modules/en-GCF2015/content/collections/photoshopbasics/2090396/print.html
//- https://tinhte.vn/threads/hoc-photoshop-lam-quen-giao-dien-che-do-blend-mau-khai-niem-layer-va-mask.2535835/
//- https://www.sitepoint.com/getting-started-photoshop-5/
//- http://mashable.com/2010/08/12/12-beginner-tutorials-for-getting-started-with-photoshop/#iYCQNe3hjmqX
//- https://www.gcflearnfree.org/photoshopbasics/getting-to-know-the-photoshop-interface/1/
