meta(property="og:image", content='/images/design/ps/01.png')
meta(property="og:image", content='/images/design/ps/02.gif')
meta(property="og:image", content='/images/design/ps/03.jpg')
//- http://rachel.golearn.us/modules/en-GCF2015/content/collections/photoshopbasics/photoshopbasics.html
//- https://www.agitraining.com/adobe/photoshop/tutorials/navigating-photoshop-workspace-tools-panels
