extends ../../../_layout/layout

block variables
	- var title = 'Design'
	- var description = 'Có những lúc bạn muốn thay đổi màu sắc cho hình ảnh. Ví dụ, bạn có thể muốn thay đổi cường độ màu sắc hoặc thậm chí thay đổi màu sắc để tạo ra một hiệu ứng nghệ thuật.'
	- var bodyclass = 'ps'
	- var selected = 'Design';
	- var href = '/docs/design/ps/color';

block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)
block og
	include _seo

block body
	section.mt-5.demo-ps
		.container-fluid
			.row
				.col
					h2 Color
					hr
			.row
				.col-md-6
					a(href="/images/design/ps/Adjustment-Layers-1.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers-1.png", alt="")
				.col-md-6
					p.lead Có những lúc bạn muốn thay đổi màu sắc cho hình ảnh. Ví dụ, bạn có thể muốn thay đổi cường độ màu sắc hoặc thậm chí thay đổi màu sắc để tạo ra một hiệu ứng nghệ thuật. Adjustment Layers trong photoshop chính là sự lựa chọn, nó là nhóm công cụ phối màu theo ý thích mà không phá hủy ảnh gốc bạn có thể chỉnh sửa và khôi phục lại hình ảnh ban đầu của bạn bất cứ lúc nào.. Trong hướng dẫn này tôi sẽ liệt kê ra danh sách bộ công cụ có trong Adjustment Layers và hướng dẫn mẫu một ví dụ về tuỳ chỉnh màu ảnh bằng cách sử dụng của Adjustment Layers

			h4.mt-5.text-danger Ảnh mẫu
			.row
				.col-md-6

					a(href="/images/design/ps/anhcuoi.jpg", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/anhcuoi.jpg", alt="")
			.row
				.col

					a(href="/images/design/ps/anhcuoi-2.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/anhcuoi-2.png", alt="")
					p aaaaaaaaaa

					a(href="/images/design/ps/anhcuoi-3.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/anhcuoi-3.png", alt="")
					p aaaaaaaaaaaaaaaa

					a(href="/images/design/ps/anhcuoi-4.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/anhcuoi-4.png", alt="")
					p aaaaaaaaaaaaaaaa

					a(href="/images/design/ps/anhcuoi-5.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/anhcuoi-5.png", alt="")
					p aaaaaaaaaaaaaaaa

					a(href="/images/design/ps/anhcuoi-6.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/anhcuoi-6.png", alt="")
					p aaaaaaaaaaaaaaaa
			.row
				.col-md-6

					a(href="/images/design/ps/anhcuoi.jpg", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/anhcuoi.jpg", alt="")
				.col-md-6

					a(href="/images/design/ps/anhcuoi-7.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/anhcuoi-7.png", alt="")
			h4.text-danger.mt-5 Các tính năng
			.row
				.col
					.table-responsive
						table.table.table.table-bordered.thead-inverse.table-striped
							thead
								tr
									th Adjustment Layers
									th Chú thích
							tbody
								tr
									td Levels
									td Levels có thể dùng điều chỉnh độ sáng tối của ảnh, có thể làm nổi bật chủ thể để phù hợp với ảnh hơn.
								tr
									td Curves
									td Trong bảng Curves [RGB] thì nó chẳng khác gì với levels là mấy . Nhưng với Red hay Green hay Blue thì nó sẽ chỉnh màu sáng tối tùy theo sở thích của mỗi người
								tr
									td Color Balance
									td Ở phần này thì bạn có thể sáng tạo màu theo sở thích của mình. Color Balance làm cho bức ảnh thêm nổi bật các chi tiết và phù hợp với khung cảnh hơn.

								tr
									td Brightness and Contrast
									td
										p Brightness/ Contrast Adjustment cho phép bạn điều chỉnh sáng tối của hình để cân chỉnh độ tương phản.
										ul

											li Brightness: Kéo sang phải để tăng ánh sáng và mở rộng phần Highlights (vùng sáng). Kéo sang trái để giảm ánh sáng và mở rộng phần Shadows (vùng tối).
											li Contrast: mở rộng hoặc thu nhỏ phạm vi tổng thể ánh sáng trên hình ảnh. Để tăng hoặc giảm tương phản cho hình ảnh.
											li Tùy chọn Use legacy: Khi chức năng này được bật; Nó chỉ cân chỉnh vùng có điểm ảnh cao hơn hoặc thấp hơn ở vùng Highlights và Shadows. Điều này rất dễ gây nên tình trạng sáng quá hoặc tối quá. Gây mất nét, còn gọi là cháy hình. Do đó, tùy chọn này không được khuyến khích sử dụng cho hình chụp.
								tr
									td Black and White
									td Hiệu ứng ảnh trắng đen hay đơn sắc lạ mắt.
								tr
									td Hue / Saturation
									td Hue / saturation cho phép bạn cụ thể hóa màu sắc và thay đổi chúng.

								tr
									td Channel mixer
									td Channel mixer với các tùy chọn nhiều hơn về việc chỉnh màu ( tùy theo khả năng sáng tạo của từng người )

								tr
									td Gradient Map
									td The gradient map Adjustment layers có thể thêm các hiệu ứng màu sắc tinh tế cho bức ảnh của bạn

								tr
									td Photo Filter
									td Photo Filter có nhiều Filter khác nhau cho phép bạn lựa chọn, hiệu ứng của chúng tương ứng với tên gọi. Giả dụ Warming Filter – sẽ cho bạn một Layer với màu sắc ấm, nóng. Còn với Cooling Filter thì ngược lại, bạn sẽ có các màu lạnh phối vào layer J
								tr
									td Posterize
									td The Posterize Adjustment layercho phép bạn thiết lập tùy thích ( kéo con trỏ hay chỉnh số bên dưới từ 1 => 255 ). Phần này như một hiệu ứng mình họa cho hình ảnh của bạn.
								tr
									td Exposure
									td
										p Tính năng Exposure trong New Adjustment Layers chúng ta có thể điều chỉnh được độ sáng tối của hình đồng thời làm tăng độ tương phản của màu trên ảnh.
										ul
											li Exposure: Cân chỉnh vùng sáng của hình ảnh, ảnh hưởng rất ít đến vùng tối.
											li Offset: Cân chỉnh vùng tối và trung tính của hình ảnh. Ảnh về 0, biến những giá trị âm thành giá trị dương.
											li Eyedroppers: Các công cụ Eyedroppers của Exposure điều chỉnh Iuminance (độ chói) của hình ảnh:

								tr
									td Solid Color
									td Tạo một lớp thuần màu phủ lên trên hình ảnh. Bạn chọn một màu đơn sắc muốn tô trong bảng Color Picker trong công cụ Adjustment Layers. Và tiến hành phủ màu lên hình ảnh của bạn.
								tr
									td Gradient
									td Tạo một lớp tô màu chuyển sắc phủ lên trên hình ảnh.

								tr
									td Pattern
									td Tạo một lớp chất liệu phủ lên trên hình ảnh.
								tr
									td Vibrance
									td Vibrance cho phép bạn thay đổi mức độ bão hòa của tất cả các màu sắc nhưng có chọn lọc hơn, nó tập trung vào các màu sắc bão hòa và tránh bão hòa các màu da.
								tr
									td Invert
									td Invert adjustment layer sẽ tạo một hiệu ứng ảnh đảo ngược màu sắc.
								tr
									td Threshhold
									td Threshhold chuyển ảnh với gam màu trắng và đen. Bạn có thể tăng và giảm số lượng điểm ảnh chuyển màu trắng hoặc đen.
								tr
									td Selective
									td Selective Color cho phép đổi một màu cơ bản mà không sửa đổi các màu khác trong hình ảnh của bạn.



			.row.mt-5
				.col
					h4.text-primary Brightness/Contrast

					a(href="/images/design/ps/Adjustment-Layers2.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers2.png", alt="")
					h4.text-primary Levels

					a(href="/images/design/ps/Adjustment-Layers3.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers3.png", alt="")

					h4.text-primary Curves

					a(href="/images/design/ps/Adjustment-Layers4.jpg", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers4.jpg", alt="")

					h4.text-primary Exposure

					a(href="/images/design/ps/Adjustment-Layers5.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers5.png", alt="")

					h4.text-primary Vibrance

					a(href="/images/design/ps/Adjustment-Layers6.jpg", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers6.jpg", alt="")

					h4.text-primary Hue/Saturation

					a(href="/images/design/ps/Adjustment-Layers7.jpg", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers7.jpg", alt="")

					h4.text-primary Color Balance

					a(href="/images/design/ps/Adjustment-Layers8.jpg", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers8.jpg", alt="")

					h4.text-primary Black & White

					a(href="/images/design/ps/Adjustment-Layers9.jpg", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers9.jpg", alt="")

					h4.text-primary Photo Filter

					a(href="/images/design/ps/Adjustment-Layers10.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers10.png", alt="")

					h4.text-primary Channel Mixer

					a(href="/images/design/ps/Adjustment-Layers12.jpg", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers12.jpg", alt="")

					h4.text-primary Color Lookup

					a(href="/images/design/ps/Adjustment-Layers11.jpg", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers11.jpg", alt="")

					h4.text-primary Invert

					a(href="/images/design/ps/Adjustment-Layers13.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers13.png", alt="")

					h4.text-primary Posterize

					a(href="/images/design/ps/Adjustment-Layers14.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers14.png", alt="")

					h4.text-primary Threshhold

					a(href="/images/design/ps/Adjustment-Layers15.jpg", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers15.jpg", alt="")

					h4.text-primary Gradient Map

					a(href="/images/design/ps/Adjustment-Layers17.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers17.png", alt="")
					h4.text-primary Selective Color

					a(href="/images/design/ps/Adjustment-Layers18.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers18.png", alt="")
