extends ../../../_layout/layout

block variables
	- var title = 'Design'
	- var description = 'aaaaaaaaaaaaaaaaaaaaaaa'
	- var bodyclass = 'ps'
	- var selected = 'Design';
	- var href = '/docs/design/ps/filters';

block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)
block og
	include _seo

block body
	section.mt-5.demo-ps
		.container-fluid
			.row
				.col
					h2 Color
					hr
			.row
				.col-md-6
					a(href="/images/design/ps/Adjustment-Layers-1.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/Adjustment-Layers-1.png", alt="")
				.col-md-6
					p.lead Có những lúc bạn muốn thay đổi màu sắc cho hình ảnh. Ví dụ, bạn có thể muốn thay đổi cường độ màu sắc hoặc thậm chí thay đổi màu sắc để tạo ra một hiệu ứng nghệ thuật. Adjustment Layers trong photoshop chính là sự lựa chọn, nó là nhóm công cụ phối màu theo ý thích mà không phá hủy ảnh gốc bạn có thể chỉnh sửa và khôi phục lại hình ảnh ban đầu của bạn bất cứ lúc nào.. Trong hướng dẫn này tôi sẽ liệt kê ra danh sách bộ công cụ có trong Adjustment Layers và hướng dẫn mẫu một ví dụ về tuỳ chỉnh màu ảnh bằng cách sử dụng của Adjustment Layers

			h4.mt-5.text-danger Ảnh mẫu
			.row
				.col
					p
						a(href="/images/design/ps/amxanh-1.jpg", target="_blank")
							figure
								img.img-thumbnail(src="/images/design/ps/amxanh-1.jpg", alt="")
					p aaaaaaaaaaaaaaaa
					p
						a(href="/images/design/ps/amxanh-3.png", target="_blank")
							figure
								img.img-thumbnail(src="/images/design/ps/amxanh-3.png", alt="")
					p aaaaaaaaaa
					p
						a(href="/images/design/ps/amxanh-2.png", target="_blank")
							figure
								img.img-thumbnail(src="/images/design/ps/amxanh-2.png", alt="")
					p aaaaaaaaaaaaaaaa
			.row
				.col-md-6
					p
						a(href="/images/design/ps/amxanh-1.jpg", target="_blank")
							figure
								img.img-thumbnail(src="/images/design/ps/amxanh-1.jpg", alt="")
				.col-md-6
					p
						a(href="/images/design/ps/amxanh-4.png", target="_blank")
							figure
								img.img-thumbnail(src="/images/design/ps/amxanh-4.png", alt="")
