extends ../../../_layout/layout

block variables
	- var title = 'Design'
	- var description = 'Một trong những yếu tố quan trọng bậc nhất tạo nên sức mạnh ở photoshop chính là bộ lọc (filter). Là công cụ đa năng và đầy quyền lực, bộ lọc cho phép người dùng chỉnh sửa hình ảnh với đủ các loại hiệu ứng: quẹt nhè - làm sắc nét, chạm nổi - khắc chìm, thêm nhiễu - khử vết, tạo quầng sáng - bóng đổ v.v.. Người dùng photoshop chuyên nghiệp, cũng như muốn trở thành chuyên nghiệp, nhất thiết phải nắm vững đặc điểm của từng bộ lọc và áp dụng chúng hiệu quả.'
	- var bodyclass = 'ps'
	- var selected = 'Design';
	- var href = '/docs/design/ps/filters';

block css
	//- Nếu ACTIVE_CONCAT = false thì phải cấu hình bên dưới
	+getMin(bodyclass)
block og
	include _seo

block body
	section.mt-5.demo-ps
		.container-fluid
			.row
				.col
					h2 Filters
					hr
			.row
				.col-md-6
					a(href="/images/design/ps/2017-07-01_214649.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/2017-07-01_214649.png", alt="")
				.col-md-6
					p.lead Một trong những yếu tố quan trọng bậc nhất tạo nên sức mạnh ở photoshop chính là bộ lọc (filter). Là công cụ đa năng và đầy quyền lực, bộ lọc cho phép người dùng chỉnh sửa hình ảnh với đủ các loại hiệu ứng: quẹt nhè - làm sắc nét, chạm nổi - khắc chìm, thêm nhiễu - khử vết, tạo quầng sáng - bóng đổ v.v.. Người dùng photoshop chuyên nghiệp, cũng như muốn trở thành chuyên nghiệp, nhất thiết phải nắm vững đặc điểm của từng bộ lọc và áp dụng chúng hiệu quả.


			h4.mt-5.text-danger Ảnh mẫu
			.row
				.col

					a(href="/images/design/ps/amxanh-1.jpg", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/amxanh-1.jpg", alt="")
					p aaaaaaaaaaaaaaaa

					a(href="/images/design/ps/amxanh-3.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/amxanh-3.png", alt="")
					p aaaaaaaaaa

					a(href="/images/design/ps/amxanh-2.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/amxanh-2.png", alt="")
					p aaaaaaaaaaaaaaaa
			.row
				.col-md-6

					a(href="/images/design/ps/amxanh-1.jpg", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/amxanh-1.jpg", alt="")
				.col-md-6

					a(href="/images/design/ps/amxanh-4.png", target="_blank")
						figure
							img.img-thumbnail(src="/images/design/ps/amxanh-4.png", alt="")

//- http://chunguv.blogspot.com/2012/01/tim-hieu-ve-cac-bo-loc-anh-trong.html
